/* Accent colors */
/* Devices */
/* Smoothing */
/* Font */
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #f5f5f5;
}
.auth-page {
  width: 100%;
  height: 100%;
  background-image: url(/media/img/auth_bg.jpg);
  background-position: center left;
  background-color: #151d2a;
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: flex;
  align-items: center;
}
.auth-page .auth-card {
  flex: 0;
  width: 30%;
  min-width: 600px;
  max-width: 800px;
  margin-left: 50%;
  background-color: #ffffff;
  border-radius: 1.5rem;
  overflow: hidden;
}
.auth-page .auth-card .auth-card__top {
  width: 100%;
  height: 20px;
  background: repeating-linear-gradient(45deg, #ef9a9a, #ef9a9a 90px, #fff176 0, #fff176 180px, #c5e1a5 0, #c5e1a5 270px, #90caf9 0, #90caf9 360px, #ce93d8 0, #ce93d8 450px);
}
.auth-page .auth-card .auth-card__logo {
  margin-top: 3rem;
}
.auth-page .auth-card .auth-card__subheader {
  color: #212121;
  font-family: 'PT Sans Bold', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI Black", "Roboto Black", "Helvetica Neue Black", "Arial Black", sans-serif;
}
.topbar {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #f5f5f5;
  height: 80px;
  align-items: center;
  font-size: 1.2em;
  font-family: 'PT Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.topbar .topbar__logo {
  width: 200px;
  height: auto;
  margin: 1rem 2rem;
  cursor: pointer;
}
.topbar .topbar__search {
  flex: 1;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  border: none;
  outline: none;
  font-family: 'PT Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.topbar .topbar__item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  outline: none;
  font-family: 'PT Sans Bold', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI Black", "Roboto Black", "Helvetica Neue Black", "Arial Black", sans-serif;
  font-weight: bold;
}
.topbar .topbar__item:hover,
.topbar .topbar__item:focus {
  color: #8bc34a;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}
.appscreen {
  align-items: stretch;
  height: calc(100% - 80px);
}
.app-tabs {
  display: flex;
  margin: 1rem;
}
.app-tabs .app-tabs__tab {
  margin: 0 1rem;
  cursor: pointer;
  padding: 0.5rem;
  outline: none;
  font-family: 'PT Sans Bold', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI Black", "Roboto Black", "Helvetica Neue Black", "Arial Black", sans-serif;
  font-weight: bold;
}
.app-tabs .app-tabs__tab:first-child {
  margin-left: 0;
}
.app-tabs .app-tabs__tab:hover,
.app-tabs .app-tabs__tab:focus {
  color: #8bc34a;
}
.app-tabs .app-tabs__tab:active,
.app-tabs .app-tabs__tab.app-tabs__tab--active {
  color: #8bc34a;
  border-bottom: 2px solid #8bc34a;
}
.collections {
  padding-left: 50px;
  overflow-y: auto;
}
.collections .collection-list {
  display: flex;
  flex-wrap: wrap;
}
.collections .collection-list .collection-item {
  background: linear-gradient(to top, #b39ddb, #80cbc4);
  display: flex;
  color: #ffffff;
  width: calc(33% - 2rem);
  min-height: 200px;
  box-sizing: border-box;
  margin: 1rem;
  cursor: pointer;
  padding: 2rem;
  align-items: flex-end;
  border-radius: 1rem;
  outline: none;
  border-bottom: 2px solid #a58ad4;
  position: relative;
}
.collections .collection-list .collection-item:hover,
.collections .collection-list .collection-item:active,
.collections .collection-list .collection-item:focus {
  background: linear-gradient(to top, #a58ad4, #80cbc4);
}
.collections .collection-list .collection-item:hover .collection-item__title,
.collections .collection-list .collection-item:active .collection-item__title,
.collections .collection-list .collection-item:focus .collection-item__title {
  margin-bottom: 0.5rem;
  text-shadow: 0 2px 4px rgba(33, 33, 33, 0.9);
  transition: margin-bottom 0.3s ease-out, text-shadow 0.3s linear;
}
.collections .collection-list .collection-item.collection-item--favorite {
  background: linear-gradient(to top, #ef9a9a, #ffcc80);
  border-bottom-color: #ec8484;
}
.collections .collection-list .collection-item.collection-item--favorite:hover,
.collections .collection-list .collection-item.collection-item--favorite:active,
.collections .collection-list .collection-item.collection-item--favorite:focus {
  background: linear-gradient(to top, #ec8484, #ffcc80);
}
.collections .collection-list .collection-item.collection-item--downloads {
  background: linear-gradient(to top, #b39ddb, #c5e1a5);
  border-bottom-color: #a58ad4;
}
.collections .collection-list .collection-item.collection-item--downloads:hover,
.collections .collection-list .collection-item.collection-item--downloads:active,
.collections .collection-list .collection-item.collection-item--downloads:focus {
  background: linear-gradient(to top, #a58ad4, #c5e1a5);
}
.collections .collection-list .collection-item.collection-item--latest {
  background: linear-gradient(to top, #a5d6a7, #fff176);
  border-bottom-color: #93ce96;
}
.collections .collection-list .collection-item.collection-item--latest:hover,
.collections .collection-list .collection-item.collection-item--latest:active,
.collections .collection-list .collection-item.collection-item--latest:focus {
  background: linear-gradient(to top, #93ce96, #fff176);
}
.collections .collection-list .collection-item .collection-item__title {
  font-size: 2rem;
  text-shadow: 0 1px 1px rgba(33, 33, 33, 0.9);
  transition: margin-bottom 0.3s ease-out, text-shadow 0.3s linear;
}
.collections .collection-list .collection-item .collection-item__title .collection-item__meta {
  font-size: 1rem;
}
.collections .collection-list .collection-item .collection-item__count {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 6rem;
  font-family: 'PT Sans Bold', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI Black", "Roboto Black", "Helvetica Neue Black", "Arial Black", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
}
.collections .collection-list .collection-item.collection-item--add {
  background: #E0E0E0;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}
.collections .collection-list .collection-item.collection-item--add .collection-item__title {
  font-size: 3rem;
  color: #212121;
  text-shadow: none;
}
.collections .collection-list .collection-item.collection-item--add:hover,
.collections .collection-list .collection-item.collection-item--add:active,
.collections .collection-list .collection-item.collection-item--add:focus {
  background: #d3d3d3;
}
.collections .collection-list .collection-item.collection-item--add:hover .collection-item__title,
.collections .collection-list .collection-item.collection-item--add:active .collection-item__title,
.collections .collection-list .collection-item.collection-item--add:focus .collection-item__title {
  margin-bottom: 0rem;
}
.tasks {
  background-color: #ffffff;
}
.book-window {
  display: none;
  background-color: #ffffff;
  width: 980px;
  left: calc(50% - 490px);
  height: 600px;
  z-index: 10;
  top: calc(50vh - 300px);
  position: fixed;
  box-shadow: 0px 3px 12px 3px rgba(33, 33, 33, 0.2);
  opacity: 0;
  margin-top: 100px;
}
.book-window.book-window--show {
  display: flex;
  animation: book-window;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.book-window.book-window--hide {
  animation: book-window;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}
.book-window .book-window__left-side {
  width: 380px;
}
.book-window .book-window__left-side .book-window__cover {
  width: 300px;
  margin-top: -20px;
  margin-left: 40px;
  height: 450px;
  position: absolute;
  overflow: hidden;
  box-shadow: 1px 2px 6px 0px rgba(33, 33, 33, 0.5);
}
.book-window .book-window__left-side .book-window__buttons {
  margin-top: 430px;
}
.book-window .book-window__right-side {
  flex: 1;
  margin: 1rem 1rem 1rem 0rem;
}
.book-window .book-window__right-side .book-info {
  margin: 1rem;
  font-size: 1.2rem;
}
.book-window .book-window__right-side .book-info .book-info__title {
  text-transform: uppercase;
  color: #9E9E9E;
  font-family: 'PT Sans Bold', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI Black", "Roboto Black", "Helvetica Neue Black", "Arial Black", sans-serif;
  font-weight: bold;
}
.book-window .book-window__right-side .book-info .book-info__content {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #424242;
  text-align: justify;
}
.book-window .book-window__right-side .book-info .book-info__content .tags .tags__item:first-child {
  margin-left: 0;
}
.books-list {
  display: flex;
  flex-wrap: wrap;
}
.books-list .book {
  flex: 0;
  min-width: 250px;
  padding: 1rem;
  box-sizing: border-box;
  content: "";
  cursor: pointer;
  position: relative;
}
.books-list .book img {
  width: 218px;
  height: 327px;
  box-shadow: 0 2px 3px 1px rgba(33, 33, 33, 0.5);
}
.books-list .book .book__overlay {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 218px;
  height: 327px;
  background-color: rgba(33, 33, 33, 0.8);
  content: "";
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 1rem;
}
.books-list .book .book__title {
  margin-top: 1rem;
  font-family: 'PT Sans Bold', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI Black", "Roboto Black", "Helvetica Neue Black", "Arial Black", sans-serif;
  font-weight: bold;
  color: #212121;
}
.books-list .book:hover .book__overlay {
  visibility: visible;
}
@keyframes book-window {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
