@import 'uvars';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: @u-gray;
}

@gradient-size: 90px;

.pt() {
  font-family: @normal-font;
}

.bold() {
  font-family: @bold-font;
  font-weight: bold;
}

.auth-page {
  width: 100%;
  height: 100%;
  background-image: url(/media/img/auth_bg.jpg);
  background-position: center left;
  background-color: #151d2a;
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: flex;
  align-items: center;

  .auth-card {
    flex: 0;
    width: 30%;
    min-width: 600px;
    max-width: 800px;
    margin-left: 50%;
    background-color: @white;
    border-radius: @rounded;
    overflow: hidden;

    .auth-card__top {
      width: 100%;
      height: 20px;
      background: repeating-linear-gradient(45deg, @l-red, @l-red @gradient-size, @l-yellow 0, @l-yellow @gradient-size * 2, @l-olive 0, @l-olive @gradient-size * 3, @l-blue 0, @l-blue @gradient-size * 4, @l-purple 0, @l-purple @gradient-size * 5);
    }

    .auth-card__logo {
      margin-top: 3rem;
    }

    .auth-card__subheader {
      color: @black;
      font-family: @bold-font;
    }
  }
}

.topbar {
  display: flex;
  background-color: @white;
  border-bottom: 1px solid @u-gray;
  height: 80px;
  align-items: center;
  font-size: 1.2em;
  .pt();

  .topbar__logo {
    width: 200px;
    height: auto;
    margin: 1rem 2rem;
    cursor: pointer;
  }

  .topbar__search {
    flex: 1;
    background-color: @u-gray;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    border: none;
    outline: none;
    .pt();
  }

  .topbar__item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 0.5rem;
    outline: none;
    .bold();

    &:hover, &:focus {
      color: @olive;
      background-color: @u-gray;
      border-radius: 0.5rem;
    }
  }
}

.appscreen {
  align-items: stretch;
  height: ~'calc(100% - 80px)';
}

.app-tabs {
  display: flex;
  margin: 1rem;

  .app-tabs__tab {
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem;
    outline: none;
    .bold();

    &:first-child {
      margin-left: 0;
    }

    &:hover, &:focus {
      color: @olive;
    }

    &:active, &.app-tabs__tab--active {
      color: @olive;
      border-bottom: 2px solid @olive;
    }
  }
}

.collections {
  padding-left: 50px;
  overflow-y: auto;

  .collection-list {
    display: flex;
    flex-wrap: wrap;

    .collection-item {
      background: linear-gradient(to top, @l-violet, @l-teal);
      display: flex;
      color: @white;
      width: ~'calc(33% - 2rem)';
      min-height: 200px;
      box-sizing: border-box;
      margin: 1rem;
      cursor: pointer;
      padding: 2rem;
      align-items: flex-end;
      border-radius: 1rem;
      outline: none;
      border-bottom: 2px solid darken(@l-violet, 5%);
      position: relative;

      &:hover, &:active, &:focus {
        background: linear-gradient(to top, darken(@l-violet, 5%), @l-teal);
        .collection-item__title {
          margin-bottom: 0.5rem;
          text-shadow: 0 2px 4px fade(@black, 90%);;
          transition: margin-bottom 0.3s ease-out, text-shadow 0.3s linear;
        }
      }

      &.collection-item--favorite {
        background: linear-gradient(to top, @l-red, @l-orange);
        border-bottom-color: darken(@l-red, 5%);

        &:hover, &:active, &:focus {
          background: linear-gradient(to top, darken(@l-red, 5%), @l-orange);
        }
      }

      &.collection-item--downloads {
        background: linear-gradient(to top, @l-violet, @l-olive);
        border-bottom-color: darken(@l-violet, 5%);

        &:hover, &:active, &:focus {
          background: linear-gradient(to top, darken(@l-violet, 5%), @l-olive);
        }
      }

      &.collection-item--latest {
        background: linear-gradient(to top, @l-green, @l-yellow);
        border-bottom-color: darken(@l-green, 5%);

        &:hover, &:active, &:focus {
          background: linear-gradient(to top, darken(@l-green, 5%), @l-yellow);
        }
      }

      .collection-item__title {
        font-size: 2rem;
        text-shadow: 0 1px 1px fade(@black, 90%);
        transition: margin-bottom 0.3s ease-out, text-shadow 0.3s linear;

        .collection-item__meta {
          font-size: 1rem;
        }
      }

      .collection-item__count {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        font-size: 6rem;
        .bold();
        color: fade(@white, 75%);
      }

      &.collection-item--add {
        background: @l-gray;
        align-items: center;
        justify-content: center;
        border-bottom: none;

        .collection-item__title {
          font-size: 3rem;
          color: @black;
          text-shadow: none;
        }

        &:hover, &:active, &:focus {
          background: darken(@l-gray, 5%);
          .collection-item__title {
            margin-bottom: 0rem;
          }
        }
      }
    }
  }
}

.tasks {
  background-color: @white;
}

.book-window {
  display: none;
  background-color: @white;
  width: 980px;
  left: ~'calc(50% - 490px)';
  height: 600px;
  z-index: 10;
  top: ~'calc(50vh - 300px)';
  position: fixed;
  box-shadow: 0px 3px 12px 3px fade(@black, 20%);
  opacity: 0;
  margin-top: 100px;

  &.book-window--show {
    display: flex;
    animation: book-window;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  &.book-window--hide {
    animation: book-window;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }

  .book-window__left-side {
    width: 380px;

    .book-window__cover {
      width: 300px;
      margin-top: -20px;
      margin-left: 40px;
      height: 450px;
      position: absolute;
      overflow: hidden;
      box-shadow: 1px 2px 6px 0px fade(@black, 50%);
    }

    .book-window__buttons {
      margin-top: 430px;
    }
  }

  .book-window__right-side {
    flex: 1;
    margin: 1rem 1rem 1rem 0rem;

    .book-info {
      margin: 1rem;
      font-size: 1.2rem;

      .book-info__title {
        text-transform: uppercase;
        color: @m-gray;
        .bold();
      }

      .book-info__content {
        margin-top: 0.5rem;
        font-size: 1.1rem;
        color: @d-gray;
        text-align: justify;

        .tags {
          .tags__item {
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

.books-list {
  display: flex;
  flex-wrap: wrap;

  .book {
    flex: 0;
    min-width: 250px;
    padding: 1rem;
    box-sizing: border-box;
    content: "";
    cursor: pointer;
    position: relative;

    img {
      width: 218px;
      height: 327px;
      box-shadow: 0 2px 3px 1px fade(@black, 50%);
    }

    .book__overlay {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 218px;
      height: 327px;
      background-color: fade(@black, 80%);
      content: "";
      visibility: hidden;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding-bottom: 1rem;
    }

    .book__title {
      margin-top: 1rem;
      .bold();
      color: @black;
    }

    &:hover {
      .book__overlay {
        visibility: visible;
      }
    }
  }
}

@keyframes book-window {
  0% {
    opacity: 0;
    margin-top: 100px;
  }

  100% {
    opacity: 1;
    margin-top: 0px;
  }
}